svg, object[type="image/svg+xml"] {
    width: 100%;
    height: 100%;
}

button.logo{
    border: none;
    background: none;
}

body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

body > nav{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    flex-direction: row;
    min-height: 3rem;
}

body > .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 7fr;
    gap: 12px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 12px;
}

.project{
    min-height: 256px;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 8px;

    gap: 4px;
    padding: 12px;
}

.project-name{
    font-style: italic;
    font-size: xx-large;
}

.project-description{
    font-weight: lighter;
}

.todo-lists{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: 100%;
}

.todo-list{
    padding: 12px;
    max-width: 50%;
}

.todo-list-name{
    font-size: large;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 8px;
    margin-bottom: 8px;
}

.todo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todo-edit-button, .todo-cancel-button, .todo-submit-button{
    aspect-ratio: 1/1;
    align-self: end;
    width: 10%;
    max-width: 2rem;
    min-width: 1.5rem;
}

.grabbable:hover{
    cursor: grab;
}

.grabbable-blue-border:hover{
    border: 1px solid lightblue;
}

.grabbable > * {
    position: relative;
    z-index: -1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal > *{
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal button{
    align-self: flex-end;
}