body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

body > nav{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    flex-direction: row;
    min-height: 3rem;
}

body > .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 7fr;
    gap: 12px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 12px;
}

.project{
    min-height: 256px;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;

    gap: 4px;
    padding: 12px;
}

.projects-container .project:hover{
    cursor: grab;
}

.project-name{
    font-style: italic;
    font-size: xx-large;
}

.project-description{
    font-weight: lighter;
}

.todo-lists{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: 100%;
}

.todo-list{
    padding: 12px;
    max-width: 50%;
}

.todo-list-name{
    font-size: large;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 8px;
    margin-bottom: 8px;
}

.todo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.todo:hover{
    cursor: grab;
    border: 1px solid lightblue;
}

button.edit-todo{
    align-self: end;
}